<section>
  <div class="section-head">
    <h2>Shelters:</h2>
    <a href="/shelters/new" class="header-link">New Shelter</a>
    <a href="/shelters?sort=alph" class='header-link'>Sort Alphabetically</a>
    <a href="/shelters?sort=pets" class='header-link'>Sort by Adoptable Pets</a>
  </div>
  <div class='box-grid'>
    <% @shelters.each do |shelter| %>
      <div class='box-grid-element'>
        <a href="/shelters/<%= shelter.id %>" class="shelter-link">
          <%= shelter.name.split.map(&:capitalize).join(' ') %>
        </a>
        <div class='action-element-container'>
            <%= render "shared/interaction_form", locals: {
              link: "/shelters/#{shelter.id}"
            } %>
        </div>
      </div>
    <% end %>
  </div>
</section>
