<html lang="en">
  <%= stylesheet_link_tag 'shelter.css' %>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt-Don't-Shop</title>
  </head>
  <body>
    <header>
      <div id="title-bar">
        <a href="/" id="page-title">Adopt, Don't Shop!</a>
      </div>
      <nav>
        <a href="/shelters" class="nav-link">Shelters</a>
        <a href="/animals" class="nav-link">Animals</a>
      </nav>
    </header>

    <section>
      <div class="section-head">
        <h2>Shelters:</h2>
        <a href="/shelters/new" id="new-shelter-link">Add Shelter</a>
      </div>
      <% @shelters.each do |shelter| %>
        <a href="/shelters/<%= shelter.id %>" class="shelter-link">
          <%= shelter.name.capitalize %>
        </a>
      <% end %>
    </section>

  </body>
</html>
