
    <section>
      <div class='section-head'>
        <h2>New Shelter:</h2>
      </div>

      <form action="/shelters" method="post">
        <input type="hidden" name="authenticity_token" value='<%= form_authenticity_token %>'>
        <div class='form-block'>
          <div class='form-column'>
            <h3>Name:</h3>
            <h3>Address:</h3>
            <h3>City:</h3>
            <h3>State:</h3>
            <h3>Zipcode:</h3>
          </div>

          <div class='form-column'>
            <input type="text" name="shelter[name]">
            <input type="text" name="shelter[address]">
            <input type="text" name="shelter[city]">
            <input type="text" name="shelter[state]">
            <input type="text" name="shelter[zip]">
          </div>

        </div>
        <input type="submit" id='submit' value='Create Shelter'>

      </form>
    </section>
