<html lang="en">
  <link rel="stylesheet" href="../../assets/stylesheets/main.css">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt Don't Shop</title>
  </head>
    <body>
      <header>
        <h1 id='page-title'>Adopt, Don't Shop!</h1>
      </header>
      <nav>
        <a href="/shelters">Shelters</a>
        <a href="/animals">Animals</a>
      </nav>
    </body>
</html>
