<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adopt-Don't-Shop</title>
</head>

<body>
  <!-- <header>
    <div id="title-bar">
      <a href="/" id="page-title">Adopt, Don't Shop!</a>
    </div>
    <nav>
      <a href="/shelters" class="nav-link">Shelters</a>
      <a href="/animals" class="nav-link">Animals</a>
    </nav>
  </header> -->

</body>

</html>

<p>sadfjasdlkfj</p>
