body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: darkgray;
}

.section-head {
  display: inline-flex;
  width: 100%;
}

section {
  margin: 10px;
  padding: 5px;
  display: block;
}

h2 {
  margin: 0px;
}

#title-bar {
  background-color: #0f69d1;
  padding: 15px;
  border: 0px solid black;
  border-bottom-width: 4px;
}

#page-title {
  margin: 0px;
  padding: 15px;
  color: #00ffee;
  font-size: 40px;
}

nav {
  display: inline-flex;
  margin: 0px;
  background-color: indianred;
  color: #0f69d1;
  padding: 0px;
  font-size: 20px;
  width: 100%;
}

.nav-link {
  margin: 10px 20px;
  font-size: 20px;
}

a:link {
  color: #00ffee;
  text-decoration: none;
}

a:visited {
  color: #00ffee;
  text-decoration: none;
}

a:hover {
  color: #00ffee;
  text-decoration: underline;
}

a:active {
  color: #00ffee;
  text-decoration: underline;
}

.shelter-info {
  font-size: 20px;
}

.user-info {
  font-size: 20px;
}

.box-grid-element {
  display: inline-block;
  background-color: indianred;
  padding: 1%;
  flex: 1;
  flex-direction: column;
}

.pet-link {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  display: block;
}

.pet-image {
  width: 100%;
}

.pet-show-image {
  max-height: 600px;
}

.pet-shelter-link:link {
  color: black;
}

.pet-shelter-link:visited {
  color: black;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.form-select {
  margin: 8px 5px;
  display: block;
}

.form-grid {
  display: grid;
  grid-template-columns: [first] 100px [second] 170px;
  grid-column-gap: 10px;
}

.content-link:link {
  color: black;
}

.content-link:visited {
  color: black;
}

.block {
  display: block;
}

.review-block {
  background-color: indianred;
  width: fit-content;
  padding: 5px;
}
